
@{
    ViewData["Title"] = "Lịch sử khám bệnh";
}
<h3>Lịch sử khám chữa bệnh</h3>
@using (Html.BeginForm())
{
    @Html.TextBox("Search")
    <input type="submit" value="Tìm kiếm" class="btn btn-danger ml-1 mb-2" />
}